<div class="form-group">
	<label class="label-input-style" for="cep">CEP: </label>
	<input type="text" class="input-style" name="cep" id="cep" value="" size="10" maxlength="9" onblur="pesquisacep(this.value);" required/>
</div>
<div class="form-group">
	<label class="label-input-style" for="rua">Rua: </label>
	<input type="text" class="input-style" name="rua" id="rua" size='30' required/>
</div>
<div class="form-group">
	<label class="label-input-style" for="numero">Numero: </label>
	<input type="text" class="input-style" name="numero" id="numero" required/>
</div>
<div class="form-group">
	<label class="label-input-style" for="complemento">Complemento: </label>
	<input type="text" class="input-style" name="complemento" id="complemento" required/>
</div>
<div class="form-group">
	<label class="label-input-style" for="bairro">Bairro: </label>
	<input type="text" class="input-style" name="bairro" id="bairro" required/>
</div>
<div class="form-group">
	<label class="label-input-style" for="cidade">Cidade: </label>
	<input type="text" class="input-style" name="cidade" id="cidade" required/>
</div>
<div class="form-group">
	<label class="label-input-style" for="uf">Estado: </label>
	<input type="text" class="input-style" name="uf"  id="uf" required/>
</div>