body{
	font-family: sans-serif;
}

.box-form {
	border-radius: 5px;
	/*border: 1px solid #c3c3c3;*/
	max-width: 550px;
	/*box-shadow: 1px 1px 1px #c3c3c3;*/
	padding: 10px 30px 10px 30px;
	position: relative;
	left: 28%;
}

.input-style {
	width: 100%;
	height: 30px;
	margin-top: 5px;
}

.label-input-style {
	color:#c3c3c3;
}

.form-group {
	margin: 0px 0px 20px 0px;
}

.hr-user {
	margin-top: 30px;
	padding:0px;
	border:none;
	border-top:  medium double #333;
	color:#333;
	text-align: center;
}

.hr-user::after {
	content: "Dados";
	display: inline-block;
	position: relative;
	top: -0.7em;
	font-size: 1.5em;
	padding: 0 0.25em;
	background: white;
}

.button {
	background-color: #0000FF;
	border-bottom: 5px solid #000080;
	border-right: 5px solid #000080;
	border-top: 5px solid #0000FF;
	border-left: 5px solid #0000FF;
	width: 50%;
	color:#ffffff;
	padding: 10px 0px 10px 0px;
	border-radius: 5px;
	font-size: 20px;
	text-shadow: 1px 1px #34495e;
}

.button:focus{
	border-bottom: 5px solid #0000FF;
	border-right: 5px solid #0000FF;
	border-top: 5px solid #000080;
	border-left: 5px solid #000080;
}

.button-restaura{
	background-color: #00FF00;
	border-bottom: 5px solid #008000;
	border-right: 5px solid #008000;
	border-top: 5px solid #00FF00;
	border-left: 5px solid #00FF00;
	width: 49%;
	color:#ffffff;
	padding: 10px 0px 10px 0px;
	border-radius: 5px;
	font-size: 20px;
	text-shadow: 1px 1px #34495e;
}

.button-restaura:focus{
	border-bottom: 5px solid #00FF00;
	border-right: 5px solid #00FF00;
	border-top: 5px solid #008000;
	border-left: 5px solid #008000;
}

.button-editar{
	background-color: #0000FF;
	border-bottom: 5px solid #000080;
	border-right: 5px solid #000080;
	border-top: 5px solid #0000FF;
	border-left: 5px solid #0000FF;
	width: 20%;
	color:#ffffff;
	padding: 10px 0px 10px 0px;
	border-radius: 5px;
	font-size: 20px;
	text-shadow: 1px 1px #34495e;
	position: relative;
	left: 45%;
}

.button-editar:focus{
	border-bottom: 5px solid #0000FF;
	border-right: 5px solid #0000FF;
	border-top: 5px solid #000080;
	border-left: 5px solid #000080;
}

.button-detalhes{
	background-color: #0000FF;
	border-bottom: 5px solid #000080;
	border-right: 5px solid #000080;
	border-top: 5px solid #0000FF;
	border-left: 5px solid #0000FF;
	width: 100%;
	color:#ffffff;
	padding: 10px 0px 10px 0px;
	border-radius: 5px;
	font-size: 20px;
	text-shadow: 1px 1px #34495e;
	position: relative;
}

.button-detalhes:focus{
	border-bottom: 5px solid #0000FF;
	border-right: 5px solid #0000FF;
	border-top: 5px solid #000080;
	border-left: 5px solid #000080;
}

.aviso{
	text-decoration: none; 
	color: #FF0000; 
	font-size: 20px;
}

.hr-aviso {
	margin-top: 30px;
	padding:0px;
	border:none;
	border-top:  medium double #333;
	color:#FF0000;
	text-align: center;
}

.hr-aviso::after {
	content: "** Dados não podem ser alterados, em caso de erro entre em contato com o suporte.";
	display: inline-block;
	position: relative;
	top: -0.7em;
	font-size: 1.2em;
	padding: 0 0.25em;
	background: white;
}

.label{
	position: relative;;
	left: 40%;
	font-size: 30px;
}

.c1{
	border:solid 1px black;
	background-color:#99ccff;
    font-weight:bold;
    text-align: center;
    height: 50px;
}

.c2{
	border:solid 1px black;
}

.table-pedido{
	text-align: center;
	border:solid 1px black;
	/*border-bottom: 0px;*/

}

.c3{
	border-bottom: solid 1px black;

}

.c4{
	/* border-bottom: solid 1px black; */

}