.conteudo{height: auto;
	}

a{
	text-decoration: none;
	color: #FFFFFF;
	
}

h1{
	color: #0000FF;
	font-family: "Times New Roman", Arial, "Trebuchet MS";
	text-align: center;
}

footer{
	text-align: center;
}

nav{
	text-align: center;
}

td{
	text-align: center;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 150px;
    }
	
li {
    margin: 0;
    padding: 0;
    list-style: none;
    }

ul li {
    position: relative;
    }
	
li ul {
    position: absolute;
	left: 36%;
    top: 11%;
    display: none;
    }
	
ul li a {
    display: block;
    text-decoration: none;
    color: #FFFFFF;
	background: #A68064;
    padding: 5px;
    border: 1px solid #ccc; 
}

li:hover ul { display: block; }

aside{
	display: block;
}

article{
	float:left;
	width:92%;
}

aside{
	float:left;
	width:8%;
}