<head>
<link rel="stylesheet" text="css/text" href="../estilo/estilodois.css" />
<style type="text/css">
	#nav{
		padding:0px;
		margin:0px;
		clear: both;
		
	}
	.categoria{
		display:inline;
		background:transparent;
		border: none;
		cursor: pointer;
		color: #ff0000;
	}
		</style>
</head>

<aside id='nav'>
<nav>
<h4>CATEGORIAS</h4>
<?php
include("../conexao/conexao.php");

$sel="select*from categoria";
$execbanco=mysqli_query($conexao,$sel);
echo"<form method='get' action='../produtos/produtos.php'>";
if(mysqli_num_rows($execbanco)==0){
	echo"<p align='center'>Nenhum Produto Encontrado</p>";
}
else{
	while($dados=mysqli_fetch_array($execbanco)){
		echo"
		<li align='left'>
			<input name='categoria' type='submit' class='categoria' 
			onClick='window.navigate('../produtos/produtos.php')' 
			value='".$dados['categoria']."'>
		</li>";
	}
echo"</form>";
}
?>
</nav>
</aside>