<h2 align="center"> Cadastro de Clientes</h2>
<form method="post" action="cadcliweb.php">
        <table align="center">
                <tr>
                        <td>Nome: </td>
                        <td><input type="text" name="nome"/></td>
                </tr>
                <tr>
                        <td>Sobrenome: </td>
                        <td><input type="text" name="sobrenome"/></td>
                </tr>
				<tr>
                        <td>CPF: </td>
                        <td><input type="text" name="cpf"/></td>
                </tr>
				<tr>
                        <td>Telefone: </td>
                        <td><input type="text" name="telefone"/></td>
                </tr>
				<tr>
                        <td>Data de Nascimento: </td>
                        <td><input type="text" name="nascimento"/></td>
                </tr>
				<tr>
                        <td>CEP: </td>
                        <td><input type="text" name="cep"/></td>
                </tr>
                <tr>
                        <td>Endereço: </td>
                        <td><input type="text" name="endereco"/></td>
                </tr>
				<tr>
                        <td>Numero: </td>
                        <td><input type="text" name="numero"/></td>
                </tr>
				<tr>
                        <td>Bairro: </td>
                        <td><input type="text" name="bairro"/></td>
                </tr>
				<tr>
                        <td>Cidade: </td>
                        <td><input type="text" name="cidade"/></td>
                </tr>
				<tr>
                        <td>Estado: </td>
                        <td><input type="text" name="estado"/></td>
                </tr>
                <tr>
                        <td>Email: </td>
                        <td><input type="text" name="email"/></td>
                </tr>
                <tr>
                        <td>Login: </td>
                        <td><input type="text" name="login"/></td>
                </tr>
                <tr>
                        <td>Senha: </td>
                        <td><input type="password" name="senha" /></td>
                </tr>
                <tr>
                        <td colspan="2" align="right">
                                <input type="submit" value="Enviar"/>
                                <input type="reset" value="Limpar"/>
                        </td>
                </tr>
        </table>
</form>
<br><br>