<?php
session_start();
if(isset($_SESSION['slogin']) && isset($_SESSION['ssenha'])){
        echo"<table width='100%'>
				<tr>
					<td>Seja bem vindo," .$_SESSION['slogin']; echo"</td>
					<td align='right'><a href='sair.php'> Sair</a></td>
				</tr>
			</table>";
        echo"<hr/>";
		echo"<table width='100%'>
					<tr align='center'>
						<td><a href='restrita.php'>Inicio</a></td>
						<td><a href='lista_de_clientes.php'>Lista de Clientes</a></td>
						<td><a href='lista_de_produtos.php'>Lista de Produtos</a></td>
						<td><a href='pedidos.php'>Pedidos</a></td>
						<td>Comentários</td>
						<td><a href='usuario_sistema.php'>Usuários do Sistema</a></td>
					</tr>
			</table>";
			echo"<hr/>";
