<?php
$sel2="select c.saram, c.codigo, c.quantidade, p.codigo, p.nome, p.preco from carrinho as c inner join produto as p on c.codigo=p.codigo where c.saram='$saram'";
$execbanco=mysqli_query($conexao,$sel2);
	echo"<br>
	<table width='100%'>
		<tr>
			<td>Item</td>
			<td align='center'>Valor Unitario</td>
			<td align='center'>Quantidade</td>
			<td align='center'>Total</td>
		</tr>";
		$soma_carrinho = 0;
		echo"<br><br><br>";
		while($dados=mysqli_fetch_array($execbanco)){
		if(mysqli_num_rows($execbanco)==0){
		echo"<p align='center'>Nenhum Produto no seu carrinho</p>";
		}
		else{      
			$numprod=mysqli_num_rows($execbanco);
			echo"
				<tr>
				<td><b></b>".$dados['nome'];
				echo"</td><td align='center'>R$ ".number_format($dados['preco'], 2,',','.');
				echo"<td align='center'>".$dados['quantidade']."</td>";
				$valor_total = $dados['quantidade']*$dados['preco'];
				echo"<td align='center'>".number_format($valor_total,2,',','.')."</td>
				</tr>";
				$valor_total = $dados['quantidade']*$dados['preco'];
				$soma_carrinho += $valor_total;
			}
		}
		$valor_final = $soma_carrinho + $frete;
	echo"</table>";
?>