<?php
$sel1="select*from endereco where saram='$saram'";
$execbanco1=mysqli_query($conexao,$sel1);
echo"
<table width='100%'>";
	while($dados=mysqli_fetch_array($execbanco1)){
		echo"
		<tr>
			<td colspan=3 align='center' >Saram: " .$dados['saram']; echo"</td>
		</tr>
		<tr>
			<td>Cep: ".$dados['cep']; echo"</td>
		</tr>
		<tr>
			<td>Endereço: ".$dados['rua']; echo"</td>
			<td>Número: ".$dados['numero']; echo"</td>
			<td>Complemento: ".$dados['complemento']; echo"</td>
		</tr>
		<tr>
			<td>Bairro: ".$dados['bairro']; echo"</td>
			<td>Cidade: ".$dados['cidade']; echo"</td>
			<td>Estado: ".$dados['estado']; echo"</td>
		</tr>";
	}
?> 