<?php
echo"<br><br><table width='20%'>
		<tr><td>Soma Produtos:</td><td align='left'>R$ ".number_format($soma_carrinho,2,',','.')."</td></tr>
		<tr><td>Frete:</td><td align='left'>R$ ".$frete."</td></tr>
		<tr>";
			$frete = str_replace(",",".", $frete);
			$soma_final = $soma_carrinho + $frete;
			echo"<td>Valor Total:</td>
			<td align='left'> R$ ".number_format($soma_final,2,',','.')."</td>
		</tr>
		<tr>
			<td>Entrega Prevista:</td>
			<td align='left'>5 a 10 dias</td>
		</tr>
	</table><br>";
?>