<?php
$sel4="select c.codigo, c.quantidade, p.codigo, p.preco from carrinho as c inner join produto as p on c.codigo=p.codigo where c.saram='$saram'";
$execbanco4=mysqli_query($conexao,$sel4);


if(isset($_POST['finalizar'])){
	$status = 'Aberto';
	$SqlInserirPedido = "insert into pedido(saram, valor, frete, valor_final, status) VALUES ('$saram', '$soma_carrinho', '$frete', '$valor_final', '$status')";
	$execbanco3=mysqli_query($conexao,$SqlInserirPedido);
	$idpedido = mysqli_insert_id($conexao);
	
	while($dados=mysqli_fetch_array($execbanco4)){
		$codigo = $dados['codigo'];
		$preco = $dados['preco'];
		$quantidade = $dados['quantidade'];
		$SqlInserirItens = "insert into itens_pedido(id_pedido, codigo, preco, quantidade)
		VALUES('$idpedido', '$codigo', '$preco', '$quantidade')";
		$execbanco=mysqli_query($conexao,$SqlInserirItens);
	}
	echo"<script>alert('Venda Concluida com Sucesso!!!')</script>";
	$SqlDeleteCarrinho = "delete from carrinho where saram = '$saram'";
	$execbanco = mysqli_query($conexao,$SqlDeleteCarrinho);
	header('location:../pedidos/extrato.php');
}
	echo"</tr>
		<form method='post' action=''>
			<p align='center'>
			<input type='submit' name='finalizar' value='Finalizar Pedido' style='height:40px; color:#FF0000; font-size:20px; text-align: center;'/>
		</form>
	</table>";
?>